
@{
    ViewData["Title"] = "Details";
}


@using VnCompany.SharedLibs
@using VnCompany.WebApp.Resources
@using VnCompany.WebApp.Helpers.Business
@model VnCompany.WebApp.Models.Business.EmployeeContactUpdateModel

@{
    ViewData["Title"] = "Edit";
}

@Html.Partial("_Notifications")
@*<div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                <i class="fa fa-pencil-square-o fz-20 pl5"></i> Sửa thông tin nhân viên: Nguyễn Văn A
                            </h3>
                        </div>
                    </div>
                </div>

                <form action="/JobSeeker/Create" class="m-form m-form--fit form-off-enter" enctype="multipart/form-data" id="frmProfile" method="post" role="form" novalidate="novalidate">
                    <input name="__RequestVerificationToken" type="hidden" value="8dTgL3l8sNw50gQqiphbzC14D77TwJPpJqQinhHCjb4aXvW4xlWzzCRSPm8WRphB23ov4r91rgLl4TLWuLTHFoxoxQKeuiKF7ylg-q5fJEPWNQHrCxCa7PC5ZlVrXyEaRLaIDQ2"><input data-val="true" data-val-number="The field job_seeker_id must be a number." data-val-required="The job_seeker_id field is required." id="job_seeker_id" name="job_seeker_id" type="hidden" value="93">        <input type="hidden" value="/JobSeeker/MyProfilePartial?id=93&amp;exclude_ct_add=0&amp;tk=qtqP39jOohjcFguQHatZuE_gAmOpmcX1UrhhI7cBhT_QH3VjcCVgpZhMX5kE2K4R" id="ProfileTk">
                    <input type="hidden" value="/JobSeeker/EduHistories?id=93&amp;tk=4oyEV0faSpTgP8ndR-khJ_yWjHaeOQvaYTInrZmCTN8" id="EduHistoryTk">
                    <input type="hidden" value="/JobSeeker/WorkHistories?id=93&amp;tk=MsXYQFFYLh1-CggYGphkn3Gz33invfoWplFbY_NqW_k" id="WorkHistoryTk">
                    <input type="hidden" value="/JobSeeker/Certificates?id=93&amp;tk=C0Cf4xYP0bjUjOqhT-WGOovR5Z67-rRBWT7LiGyhuqA" id="CertificateTk">
                    <input data-val="true" data-val-number="The field next_step must be a number." data-val-required="The next_step field is required." id="next_step" name="next_step" type="hidden" value="0"><input data-val="true" data-val-number="The field hide_pf must be a number." data-val-required="The hide_pf field is required." id="hide_pf" name="hide_pf" type="hidden" value="0">        <div class="m-portlet__body">


                        <div class="m-accordion m-accordion--default m-accordion--toggle-arrow" id="m_profile" role="tablist">

                            <div class="m-accordion__item m-accordion__item--info">
                                <div class="m-accordion__item-head collapsed" role="tab" id="m_profile_head" data-toggle="collapse" href="#m_profile_body" aria-expanded="false">
                                    <span class="m-accordion__item-icon">
                                        <i class="la la-user"></i>
                                    </span>
                                    <span class="m-accordion__item-title">
                                        Hồ sơ
                                    </span>
                                    <span class="m-accordion__item-mode"></span>
                                </div>
                                <div class="m-accordion__item-body collapse" id="m_profile_body" role="tabpanel" aria-labelledby="m_profile_head" data-parent="#m_profile" style="">
                                    <div class="m-accordion__item-content">
                                        <div id="MemberSubContainer">
                                            <div>
                                                <input type="hidden" id="address_country_id" value="0">
                                                <input type="hidden" id="address_region_id" value="0">
                                                <input type="hidden" id="address_prefecture_id" value="0">
                                                <input type="hidden" id="address_city_id" value="0">
                                                <input type="hidden" id="address_train_line_id" value="0">
                                                <input type="hidden" id="address_station_id" value="0">

                                                <input type="hidden" id="address_contact_country_id" value="0">
                                                <input type="hidden" id="address_contact_region_id" value="0">
                                                <input type="hidden" id="address_contact_prefecture_id" value="0">
                                                <input type="hidden" id="address_contact_city_id" value="0">

                                                <div class="form-group m-form__group row group-item">
                                                    <div class="col-md-12 required-input">
                                                        * Thông tin phải nhập
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row group-item">
                                                    <div class="col-lg-3">
                                                        <label>
                                                            Hình ảnh
                                                        </label>

                                                        <div class="upload-portfolio mb10">
                                                            <div class="uploadbox" id="uploadbox">
                                                                <img class="file-upload-btn thumbImg img-full-center pointer hidden" src="">
                                                                <label for="file-upload" class="custom-file-upload file-upload-icon ">
                                                                    <i class="la la-cloud-upload"></i> <span>Tải ảnh</span>
                                                                </label>
                                                                <input id="image" name="image" type="hidden" value="">
                                                                <input id="file-upload" class="file-upload-storage hidden" name="image_file_upload" type="file" data-preview="uploadbox">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-9">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <label class="form-control-label">
                                                                    Họ và tên <span class="required-input">*</span>
                                                                </label>
                                                                <input class="form-control m-input mb5 input-validation-error" data-val="true" data-val-maxlength="Họ và tên không được quá 30 ký tự" data-val-maxlength-max="30" data-val-required="Nhập tên ứng viên" id="fullname" name="Name" placeholder="Nguyen Van A" type="text" value="">

                                                            </div>

                                                            <div class="col-lg-12 mt10">
                                                                <div class="row">
                                                                    <div class="col-lg-9">
                                                                        <label class="form-control-label">
                                                                            Tên phiên âm
                                                                        </label>
                                                                        <input class="form-control m-input" id="fullname_furigana" name="NameFurigana" placeholder="グエン　バン　エイ" type="text" value="">
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <label class="form-control-label">
                                                                            Giới tính
                                                                        </label>
                                                                        <div class="m-radio-inline">
                                                                            <label class="m-radio">
                                                                                <input type="radio" name="Gender" value="1" id="1_gender">
                                                                                Nam
                                                                                <span></span>
                                                                            </label>
                                                                            <label class="m-radio">
                                                                                <input type="radio" checked="" name="Gender" value="0" id="0_gender">
                                                                                Nữ
                                                                                <span></span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group m-form__group row">
                                                    <div class="col-lg-3">
                                                        <label>
                                                            Ngày sinh <span class="required-input">*</span>
                                                        </label>
                                                        <input class="form-control datepicker valid" data-val="true" data-val-required="Không được để trống" id="birthday" name="DateOfBirth" placeholder="yyyy/mm/dd" type="date">
                                                        <span class="text-danger field-validation-valid" data-valmsg-for="birthday" data-valmsg-replace="true"></span>

                                                    </div>

                                                    <div class="col-lg-3">
                                                        <label>
                                                            Điện thoại
                                                        </label>
                                                        <input class="form-control m-input valid" data-val="true" data-val-maxlength="Điện thoại không được quá 20 ký tự" data-val-maxlength-max="20" id="phone" name="Phone" type="text" value="">
                                                        <span class="text-danger field-validation-valid" data-valmsg-for="phone" data-valmsg-replace="true"></span>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>
                                                            Email
                                                        </label>
                                                        <input class="form-control m-input valid" data-val="true" data-val-maxlength="Email không được quá 30 ký tự" data-val-maxlength-max="30" id="email" name="Email" placeholder="xxxx@yourmail.com" type="text" value="">
                                                        <span class="text-danger field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>
                                                            Tình trạng hôn nhân
                                                        </label>
                                                        <div class="m-radio-inline">
                                                            <label class="m-radio">
                                                                <input type="radio" name="MaritalStatus" value="1" id="1_marriage">
                                                                Đã kết hôn
                                                                <span></span>
                                                            </label>
                                                            <label class="m-radio">
                                                                <input type="radio" checked="" name="MaritalStatus" value="0" id="0_marriage">
                                                                Độc thân
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group m-form__group row">
                                                    <div class="col-lg-3">
                                                        <label>
                                                            Học vấn
                                                        </label>
                                                        <div class="dropdown bootstrap-select form-control">
                                                            <select class="form-control selectpicker" name="QualificationId" data-live-search="true" tabindex="-98">
                                                                <option value="1">Trung học phổ thông</option>
                                                                <option value="2">Trung cấp</option>
                                                                <option value="3">Cao đẳng</option>
                                                                <option value="4">Đại học</option>
                                                                <option value="5">Cao học</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>
                                                            Chức vụ
                                                        </label>
                                                        <input class="form-control m-input" name="Employee.Position" type="text">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label class="pf-title">Ngày vào công ty</label>
                                                        <input class="datepicker form-control" id="duration_visa" name="Employee.JoinDate" placeholder="yyyy/mm/dd" type="date" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row group-item">
                                                    <div class="col-lg-3">
                                                        <label class="pf-title">Quốc tịch</label>
                                                        <div class="dropdown bootstrap-select form-control">
                                                            <select data-live-search="true" class="selectpicker form-control" name="NationalityId" id="nationality_id" tabindex="-98">
                                                                <option value="0">Chọn quốc tịch</option>
                                                                <option value="81">Nhật Bản</option>
                                                                <option value="84">Việt Nam</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label class="pf-title">Visa</label>
                                                        <div class="dropdown bootstrap-select form-control">
                                                            <select data-live-search="true" class="selectpicker form-control" name="Employee.VisaId" data-size="7" tabindex="-98">
                                                                <option value="0">Chọn visa</option>
                                                                <option value="1">Tokutei</option>
                                                                <option value="2">Tu nghiệp sinh</option>
                                                                <option value="3">Du học sinh</option>
                                                                <option value="4">Lao động</option>
                                                                <option value="5">Kết hôn với người Nhật</option>
                                                                <option value="6">Vĩnh trú</option>
                                                                <option value="7">Kết hôn với người vĩnh trú</option>
                                                                <option value="8">Định trú</option>
                                                                <option value="9">Xin việc sau tốt nghiệp</option>
                                                                <option value="10">Lưu trú ngắn hạn</option>
                                                                <option value="11">Thực tập</option>
                                                                <option value="12">Đoàn tụ gia đình</option>
                                                                <option value="13">Chuyên gia</option>
                                                                <option value="14">Kinh doanh</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label class="pf-title">Thời hạn visa</label>
                                                        <input class="datepicker form-control" id="duration_visa" name="Employee.VisaExpiryDate" placeholder="yyyy/mm/dd" type="date" value="">
                                                    </div>

                                                </div>
                                                <div class="form-group m-form__group row">
                                                    <div class="col-lg-3">
                                                        <label>
                                                            Số tài khoản ngân hàng
                                                        </label>
                                                        <input class="form-control m-input" name="BankAccountNumber" type="text">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label class="form-control-label">
                                                            Tên Ngân hàng
                                                        </label>
                                                        <div class="dropdown bootstrap-select form-control">
                                                            <select placeholder="Chọn ngân hàng" data-live-search="true" class="form-control selectpicker" name="BankId" tabindex="-98">
                                                                <option value="0">Chọn ngân hàng</option>
                                                                <option value="1">ShinhanBank</option>
                                                                <option value="2">VietcomBank</option>
                                                                <option value="3">ViettinBank</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="customFieldsList mt10 group-item">

                                                </div>
                                                <hr>

                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="m-accordion m-accordion--default m-accordion--toggle-arrow" id="m_edu_history" role="tablist">

                            <div class="m-accordion__item m-accordion__item--info">
                                <div class="m-accordion__item-head collapsed" role="tab" id="m_edu_history_head" data-toggle="collapse" href="#m_edu_history_body" aria-expanded="false">
                                    <span class="m-accordion__item-icon">
                                        <i class="la la-graduation-cap"></i>
                                    </span>
                                    <span class="m-accordion__item-title">
                                        Lịch sử học tập
                                    </span>
                                    <span class="m-accordion__item-mode"></span>
                                </div>

                                <div class="m-accordion__item-body collapse" id="m_edu_history_body" role="tabpanel" aria-labelledby="m_edu_history_head" data-parent="#m_edu_history" style="">
                                    <div class="m-accordion__item-content">
                                        <div class="row">
                                            <div class="col-lg-12 text-center">
                                                <a class="btn btn-sm btn-info" href="javascript:;" data-href="/JobSeeker/UpdateEduHistory?job_seeker_id=93" data-modal="" title=""><i class="la la-plus-circle"></i> Thêm lịch sử học tập</a>
                                            </div>
                                        </div>
                                        <div class="" id="EduHistories">

                                            <div class="form-group m-form__group row mt10">
                                                <div class="col-md-12 table-responsive">
                                                    <table class="table table-bordered table-responsive-lg">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center" width="50"></th>
                                                                <th class="text-center">Học vấn</th>
                                                                <th class="text-center">Tên trường</th>
                                                                <th class="text-center">Chuyên ngành</th>
                                                                <th class="text-center">Nhập học</th>
                                                                <th class="text-center">Đến ngày</th>
                                                                <th class="text-center">Tình trạng</th>
                                                                <th class="text-center"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="20">
                                                                    <span class="text-danger"><i class="fa fa-warning"></i> Chưa cập nhật</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="m-accordion m-accordion--default m-accordion--toggle-arrow" id="m_certificate" role="tablist">

                            <div class="m-accordion__item m-accordion__item--info">
                                <div class="m-accordion__item-head collapsed" role="tab" id="m_certificate_head" data-toggle="collapse" href="#m_certificate_body" aria-expanded="false">
                                    <span class="m-accordion__item-icon">
                                        <i class="la la-certificate"></i>
                                    </span>
                                    <span class="m-accordion__item-title">
                                        Chứng chỉ, bằng cấp
                                    </span>
                                    <span class="m-accordion__item-mode"></span>
                                </div>

                                <div class="m-accordion__item-body collapse show" id="m_certificate_body" role="tabpanel" aria-labelledby="m_certificate_head" data-parent="#m_certificate">
                                    <div class="m-accordion__item-content">
                                        <div class="row">
                                            <div class="col-lg-12 text-center">
                                                <a class="btn btn-sm btn-info" href="javascript:;" data-href="/JobSeeker/UpdateCertificate?job_seeker_id=93" data-modal="" title=""><i class="la la-plus-circle"></i> Thêm chứng chỉ, bằng cấp</a>
                                            </div>
                                        </div>
                                        <div class="" id="Certificates">

                                            <div class="form-group m-form__group row mt10">
                                                <div class="col-md-12 table-responsive">
                                                    <table class="table table-bordered table-responsive-lg">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center" width="50"></th>
                                                                <th class="text-center">Tên chứng chỉ, bằng cấp</th>
                                                                <th class="text-center">Ngày cấp</th>
                                                                <th class="text-center">Tình trạng</th>
                                                                <th class="text-center">Điểm</th>
                                                                <th class="text-center"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="20">
                                                                    <span class="text-danger"><i class="fa fa-warning"></i> Chưa cập nhật</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="row" id="">
                            <div class="col-lg-12 col-md-12 col-sm-12" style="height:80px">
                                <a class="btn btn-outline-info btn-back btn-sm" href="/JobSeeker?type_job_seeker=1"><i class="fa fa-backward"></i> Quay lại</a>


                                <button type="submit" class="btn btn-outline-info pull-right btn-sm">
                                    <i class="fa fa-floppy-o"></i> Lưu
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>*@

<div class="row">
    <div class="col-lg-12">
        <div ref="component">
            <div novalidate="" ref="webform" class="formio-form">
                <div ref="component" class="row" id="eknym6o">
                    <div ref="column-eknym6o" class="col-md-2 leftContent-container">

                        <div class="leftContent">
                            <div class="m-portlet form-component-container">
                                <div ref="component" class="form-group">
                                    <div></div>

                                    <div ref="fileDrop" class="fileSelector">
                                        <div class="avatarFrame">
                                            @if (string.IsNullOrEmpty(Model.Employee.AvatarUrl))
                                            {
                                                <img src="~/Media/EmployeeAvatars/defaultEmployeeImage.png" />
                                            }
                                            else
                                            {
                                                <img src="@Model.Employee.AvatarUrl" />
                                            }
                                        </div>

                                        <div class="loader-wrapper" ref="fileProcessingLoader">
                                            <div class="loader text-center"></div>
                                        </div>
                                    </div>                                  
                                </div>
                                     <div ref="component" class="form-group">
                                        <label class="col-form-label leftContent-label" ref="label">
                                            Mã nhân viên
                                        </label>

                                        <div ref="element">
                                            @if (!string.IsNullOrEmpty(Model.Employee.EmployeeCode))
                                            {
                                                <div class="notebookLine">@Model.Employee.EmployeeCode</div>
                                            }
                                            else
                                            {
                                                <div class="notebookLine">
                                                    <span class="empty-value">-----</span>
                                                </div>
                                            }

                                        </div>

                                        <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                    </div>
                                <div ref="component" class="form-group">
                                    <label class="col-form-label leftContent-label" ref="label">
                                        Họ và tên
                                    </label>

                                    <div ref="element">
                                        @if (string.IsNullOrEmpty(Model.Name) && string.IsNullOrEmpty(Model.FamilyName))
                                        {
                                            <div class="notebookLine">
                                                <span class="empty-value">-----</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="notebookLine">@Model.FamilyName  @Model.Name</div>                                           
                                        }
                                    </div>
                                </div>
                                <div ref="component" class="form-group">
                                    <label class="col-form-label leftContent-label" ref="label">
                                        Họ và tên (phiên âm)
                                    </label>

                                    <div ref="element">
                                        @if (!string.IsNullOrEmpty(Model.FamilyNameYomigana) && !string.IsNullOrEmpty(Model.NameYomigana))
                                        {
                                            <div class="notebookLine">@Model.FamilyNameYomigana &nbsp; @Model.NameYomigana</div>
                                        }
                                        else
                                        {
                                            <div class="notebookLine">
                                                <span class="empty-value">-----</span>
                                            </div>
                                        }
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__foot">
                            <div class="row">
                                <div class="col-lg-6 fixPositionButton">
                                    <a class="btn btn-info btn-sm" href="@Url.Action("Edit", "Employee", new { employeeId = Model.Employee.Id})"><i class="la la-pencil"></i> Sửa</a>
                                    <a class="btn btn-outline-info btn-back btn-sm" href="@Url.Action("Index", "Employee", new { employeeId = Model.Employee.Id})"><i class="fa fa-backward"></i> Quay lại</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="m-portlet col-md-9 rightContent-container">
                        <div ref="column-eknym6o">
                            <div>
                                <div ref="component" class="infoPanel">
                                    <div class="mb-2 card border">
                                        <div ref="header" aria-controls="et1icmt-BasicInfo" aria-expanded="true" role="button" class="card-header bg-default  infoPanel-title-editForm">
                                            <span class="mb-0 card-title">
                                                THÔNG TIN CƠ BẢN
                                            </span>
                                        </div>

                                        <div id="et1icmt-BasicInfo" ref="nested-BasicInfo" class="card-body">
                                            <div ref="component" class="row">
                                                <div ref="column-eseytw" class="col-md-6 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                    <div ref="component" class="form-group has-feedback formio-component formio-component-textfield formio-component-FamilyName" id="ep27kj8">
                                                        <label id="l-ep27kj8-FamilyName" for="ep27kj8-FamilyName" class="col-form-label" ref="label">
                                                            Họ
                                                        </label>

                                                        <div ref="element">
                                                            @if (!string.IsNullOrEmpty(Model.FamilyName))
                                                            {
                                                                <div class="notebookLine">@Model.FamilyName</div>
                                                            }
                                                            else
                                                            {
                                                                <div class="notebookLine">
                                                                    <span class="empty-value">-----</span>
                                                                </div>
                                                            }
                                                        </div>

                                                        <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                                    </div>
                                                </div>

                                                <div ref="column-eseytw" class="col-md-6 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                    <div ref="component" class="form-group">
                                                        <label for="Name" class="col-form-label" ref="label">
                                                            Tên
                                                        </label>

                                                        <div ref="element">
                                                            @if (!string.IsNullOrEmpty(Model.Name))
                                                            {
                                                                <div class="notebookLine">@Model.Name</div>
                                                            }
                                                            else
                                                            {
                                                                <div class="notebookLine">
                                                                    <span class="empty-value">-----</span>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ref="component" class="row">
                                                <div ref="column-estc7q" class="col-md-6 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                    <div ref="component" class="form-group">
                                                        <label for="FamilyNameYomigana" class="col-form-label" ref="label">
                                                            Họ (phiên âm)
                                                        </label>

                                                        <div ref="element">
                                                            @if (!string.IsNullOrEmpty(Model.FamilyNameYomigana))
                                                            {
                                                                <div class="notebookLine">@Model.FamilyNameYomigana</div>
                                                            }
                                                            else
                                                            {
                                                                <div class="notebookLine">
                                                                    <span class="empty-value">-----</span>
                                                                </div>
                                                            }
                                                        </div>

                                                        <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                                    </div>
                                                </div>

                                                <div ref="column-estc7q" class="col-md-6 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                    <div ref="component" class="form-group">
                                                        <label id="l-e7cnlyo-NameYomigana" for="NameYomigana" class="col-form-label" ref="label">
                                                            Tên (phiên âm)
                                                        </label>

                                                        <div ref="element">
                                                            @if (!string.IsNullOrEmpty(Model.NameYomigana))
                                                            {
                                                                <div class="notebookLine">@Model.NameYomigana</div>
                                                            }
                                                            else
                                                            {
                                                                <div class="notebookLine">
                                                                    <span class="empty-value">-----</span>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                            </div>
                                            <div ref="component" class="row">
                                                <div ref="column-ewvhent" class="col-md-6 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                    <div ref="component" class="form-group">
                                                        <label for="DateOfBirth" class="col-form-label" ref="label">
                                                            Ngày tháng năm sinh
                                                        </label>

                                                        <div ref="element">
                                                            @if (Model.DateOfBirth.HasValue)
                                                            {
                                                                <div class="notebookLine">@Model.DateOfBirth.Value.ToString("dd/MM/yyyy")</div>
                                                            }
                                                            else
                                                            {
                                                                <div class="notebookLine">
                                                                    <span class="empty-value">-----</span>
                                                                </div>
                                                            }
                                                        </div>

                                                        <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                                    </div>
                                                </div>

                                                <div ref="column-ewvhent" class="col-md-6 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                    <div ref="component" class="form-group">
                                                        <label for="Email" class="col-form-label" ref="label">
                                                            Email
                                                        </label>

                                                        <div ref="element">
                                                            @if (!string.IsNullOrEmpty(Model.Email))
                                                            {
                                                                <div class="notebookLine">@Model.Email</div>
                                                            }
                                                            else
                                                            {
                                                                <div class="notebookLine">
                                                                    <span class="empty-value">-----</span>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ref="component" class="form-group">
                                                <div ref="column-ewvhent" class="col-md-6 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                    <div ref="component" class="form-group">
                                                        <label for="Gender" class="col-form-label" ref="label">
                                                            Giới tính
                                                        </label>

                                                        <div ref="element">
                                                            @if (Model.Gender == (int)EnumGender.Male)
                                                            {
                                                                <div class="notebookLine">Nam</div>
                                                            }

                                                            @if (Model.Gender == (int)EnumGender.Female)
                                                            {
                                                                <div class="notebookLine">Nữ</div>
                                                            }

                                                            @if (Model.Gender == (int)EnumGender.Unknown)
                                                            {
                                                                <div class="empty-value">-----</div>
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                  
                                        </div>
                                    </div>
                                </div>
                                @*<div ref="component" class="formio-component formio-component-panel formio-component-JoinOrLeave infoPanel" id="ev81qlh">
                <div class="mb-2 card border">
                    <div ref="header" aria-controls="ev81qlh-JoinOrLeave" aria-expanded="true" role="button" class="card-header bg-default">
                        <span class="mb-0 card-title">
                            GIA NHẬP/RỜI CÔNG TY
                        </span>
                    </div>

                    <div id="ev81qlh-JoinOrLeave" ref="nested-JoinOrLeave" class="card-body">
                        <div ref="component" class="row formio-component formio-component-columns formio-component-columns4 formio-component-label-hidden" id="e7j4hph">
                            <div ref="column-e7j4hph" class="col-md-4 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                <div ref="component" class="form-group has-feedback formio-component formio-component-textfield formio-component-Status" id="e66gmu8">
                                    <label id="l-e66gmu8-Status" for="e66gmu8-Status" class="col-form-label" ref="label">
                                        Trạng thái
                                    </label>

                                    <div ref="element">
                                        <select class="form-control" name="Employee.Status">
                                            <option value="1">Đang tại chức</option>
                                            <option value="2">Nghỉ hưu</option>
                                            <option value="3">Nghỉ việc</option>
                                        </select>
                                    </div>

                                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                </div>
                            </div>

                            <div ref="column-e7j4hph" class="col-md-4 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                <div ref="component" class="form-group has-feedback formio-component formio-component-textfield formio-component-JoinDate" id="ecigmqh">
                                    <label id="l-ecigmqh-JoinDate" for="ecigmqh-JoinDate" class="col-form-label" ref="label">
                                        Ngày vào công ty
                                    </label>

                                    <div ref="element">
                                        @if (Model.Employee.JoinDate.HasValue)
                                        {
                                            <input value="@Model.Employee.JoinDate.Value.ToString("yyyy-MM-dd")"
                                                    class="form-control"
                                                    type="date"
                                                    name="JoinDate"
                                                    ref="input"
                                                    aria-invalid="false" />
                                        }
                                        else
                                        {
                                            <input class="form-control"
                                                    type="date"
                                                    name="JoinDate"
                                                    ref="input"
                                                    aria-invalid="false" />
                                        }
                                    </div>

                                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                </div>
                            </div>

                            <div ref="column-e7j4hph" class="col-md-4 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                <div ref="component" class="form-group has-feedback formio-component formio-component-textfield formio-component-LeaveDate" id="eh622uv">
                                    <label id="l-eh622uv-LeaveDate" for="eh622uv-LeaveDate" class="col-form-label" ref="label">
                                        Ngày rời công ty
                                    </label>
                                    <div ref="element">
                                        @if (Model.Employee.LeaveDate.HasValue)
                                        {
                                            <input value="@Model.Employee.LeaveDate.Value.ToString("yyyy/MM/dd")"
                                                    class="form-control"
                                                    type="date"
                                                    name="LeaveDate"
                                                    ref="input"
                                                    aria-invalid="false" />
                                        }
                                        else
                                        {
                                            <input value=""
                                                    class="form-control"
                                                    type="date"
                                                    name="LeaveDate"
                                                    ref="input"
                                                    aria-invalid="false" />
                                        }
                                    </div>


                                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                </div>
                            </div>

                            <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                        </div>
                    </div>
                </div>

                <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
            </div>*@

                                <div ref="component" class="infoPanel">
                                    <div class="mb-2 card border">
                                        <div ref="header" aria-controls="et5k67j-JobInfo" aria-expanded="true" role="button" class="card-header bg-default">
                                            <span class="mb-0 card-title">
                                                THÔNG TIN CÔNG VIỆC
                                            </span>
                                        </div>

                                        <div id="et5k67j-JobInfo" ref="nested-JobInfo" class="card-body">
                                            <div ref="component" class="row formio-component formio-component-columns formio-component-columns5 formio-component-label-hidden" id="et1mhy">
                                                <div ref="column-et1mhy" class="col-md-4 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                    <div ref="component" class="form-group">
                                                        <label for="EmployeeCode" class="col-form-label" ref="label">
                                                            Mã nhân viên
                                                        </label>

                                                        <div ref="element">
                                                            @if (!string.IsNullOrEmpty(Model.Employee.EmployeeCode))
                                                            {
                                                                <div class="notebookLine">@Model.Employee.EmployeeCode</div>
                                                            }
                                                            else
                                                            {
                                                                <div class="notebookLine">
                                                                    <span class="empty-value">-----</span>
                                                                </div>
                                                            }
                                                        </div>

                                                        <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                                    </div>
                                                </div>

                                                <div ref="column-et1mhy" class="col-md-4 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                    <div ref="component" class="form-group">
                                                        <label for="EmploymentType" class="col-form-label" ref="label">
                                                            Loại hình nhân viên
                                                        </label>

                                                        <div ref="element">
                                                            <div class="notebookLine">Tu nghiệp sinh</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div ref="component" class="infoPanel">
                                    <div class="mb-2 card border">
                                        <div ref="header" aria-controls="e20e7naj-VisaInfo" aria-expanded="true" role="button" class="card-header bg-default">
                                            <span class="mb-0 card-title">
                                                THÔNG TIN VISA
                                            </span>
                                        </div>

                                        <div ref="nested-VisaInfo" class="card-body">
                                            <div ref="component" class="row">
                                                <div ref="column-ehsrsb" class="col-md-4 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                    <div ref="component" class="form-group">
                                                        <label for="NationalityId" class="col-form-label" ref="label">
                                                            Quốc tịch
                                                        </label>

                                                        <div ref="element">
                                                            <div ref="element">
                                                                @if (Model.NationalityId == 84)
                                                                {
                                                                    <div class="notebookLine">Việt Nam</div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="notebookLine">Nhật Bản</div>
                                                                }

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div ref="column-ehsrsb" class="col-md-4 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                    <div ref="component" class="form-group">
                                                        <label for="VisaType" class="col-form-label" ref="label">
                                                            Loại hình visa
                                                        </label>

                                                        <div ref="element">
                                                            <div ref="element">
                                                                @if (Model.VisaType > 0)
                                                                {
                                                                    <div class="notebookLine">Tu nghiệp sinh</div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="notebookLine">
                                                                        <span class="empty-value">-----</span>
                                                                    </div>
                                                                }

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div ref="column-ehsrsb" class="col-md-4 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                    <div ref="component" class="form-group">
                                                        <label id="l-enwibtb-VisaExpiryDate" for="VisaExpiryDate" class="col-form-label" ref="label">
                                                            Ngày hết hạn visa
                                                        </label>

                                                        <div ref="element">
                                                            @if (Model.VisaExpiryDate.HasValue)
                                                            {
                                                                <div class="notebookLine">@Model.VisaExpiryDate.Value.ToString("dd/MM/yyyy")</div>
                                                            }
                                                            else
                                                            {
                                                                <div class="notebookLine">
                                                                    <span class="empty-value">-----</span>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                </div>
                                <div ref="component" class="formio-component formio-component-form formio-component-label-hidden infoPanel">
                                    <div novalidate="" ref="webform" class="formio-form">
                                        <div ref="component" class="formio-component formio-component-panel formio-component-CurrentAddress">
                                            <div class="mb-2 card border">
                                                <div ref="header" aria-controls="evrw6yg-CurrentAddress" aria-expanded="true" role="button" class="card-header bg-default">
                                                    <span class="mb-0 card-title">
                                                        ĐỊA CHỈ - LIÊN LẠC
                                                    </span>
                                                </div>

                                                <div ref="nested-CurrentAddress" class="card-body">
                                                    <div ref="component" class="row">
                                                        <div ref="column-eubq4h" class="col-md-6 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                            <div ref="component" class="form-group">
                                                                <label for="PostalCode" class="col-form-label" ref="label">
                                                                    Mã bưu điện
                                                                </label>

                                                                <div ref="element">
                                                                    @if (!string.IsNullOrEmpty(Model.PostalCode))
                                                                    {
                                                                        <div class="notebookLine">@Model.PostalCode</div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="notebookLine">
                                                                            <span class="empty-value">-----</span>
                                                                        </div>
                                                                    }
                                                                </div>

                                                                <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                                            </div>
                                                        </div>

                                                        <div ref="column-eubq4h" class="col-md-6 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                            <div ref="component" class="form-group">
                                                                <label for="PhoneNumber" class="col-form-label" ref="label">
                                                                    Số điện thoại
                                                                </label>

                                                                <div ref="element">
                                                                    @if (!string.IsNullOrEmpty(Model.PhoneNumber))
                                                                    {
                                                                        <div class="notebookLine">@Model.PhoneNumber</div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="notebookLine">
                                                                            <span class="empty-value">-----</span>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ref="component" class="form-group">
                                                        <label for="AddressYomigana" class="col-form-label" ref="label">
                                                            Địa chỉ
                                                        </label>

                                                        <div ref="element">
                                                            @if (string.IsNullOrEmpty(Model.FullAddress))
                                                            {
                                                                <div class="notebookLine">
                                                                    <span class="empty-value">-----</span>
                                                                </div>
                                                                
                                                            }
                                                            else
                                                            {
                                                                <div class="notebookLine">@Model.FullAddress</div>
                                                            }

                                                        </div>
                                                    </div>
                                                    <div ref="component" class="form-group">
                                                        <label for="AddressYomigana" class="col-form-label" ref="label">
                                                            Địa chỉ (phiên âm)
                                                        </label>

                                                        <div ref="element">
                                                            @if (!string.IsNullOrEmpty(Model.AddressYomigana))
                                                            {
                                                                <div class="notebookLine">@Model.AddressYomigana</div>
                                                            }
                                                            else
                                                            {
                                                                <div class="notebookLine">
                                                                    <span class="empty-value">-----</span>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                               
                </div>
            </div>         
        </div>
    </div>
</div>

<style>
    .form-component-container {
        padding: 20px;
    }

    .infoPanel {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        margin-bottom: 30px;
    }

    .avatarFrame {
        width: 80%;
        height: auto;
        border: 0.5px solid lightgray;
    }

    .avatarFrame img {
        width: 100%;
    }

    .fileSelector {
        display: flex;
        justify-content: center;
    }

    .leftContent-container {
        margin-left: 20px;
        max-width: 250px;
    }

    .leftContent {
        width: 250px;
        position: fixed;
    }

    .rightContent-container {
        left: 70px;
        padding: 30px;
    }

    .leftContent-label {
        font-size: 12px;
    }

    .notebookLine {
        padding: 5px 5px 5px 10px;
        border-bottom: 0.5px lightgray solid;
    }

    .fixPositionButton {
        position: fixed;
        top: 650px;
    }

    .empty-value {
        color: gray;
    }

    @@media screen and (max-width: 700px) {
        .leftContent {
            position: relative;
            width: 100%;
        }

        .leftContent-container {
            width: 100%;
            margin-left: 0;
        }

        .rightContent-container {
            left: 0;
            width: 100%;
        }
    }
</style>