@using VnCompany.WebApp.Resources
@using VnCompany.WebApp.Helpers
@using VnCompany.WebApp.Helpers.Business
@using VnCompany.SharedLibs
@model VnCompany.WebApp.Models.Business.EmployeeManagerModel
@{
    ViewData["Title"] = "Index";
}
<partial>
    @Html.Partial("_Notifications")

    @Html.Partial("../Widgets/Modals/_DefaultModal")
</partial>


<div class="pageHeading">
    <h4>
        DANH SÁCH NHÂN VIÊN
    </h4>
    <p>Xem thông tin của các nhân viên đã đăng ký</p>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="m-portlet" m-portlet="true" id="FormSearchTool">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="fa fa-search"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            検索条件
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href="javascript:;" m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                                <i class="la la-angle-down"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            @Html.Partial("_SearchForm", Model)
        </div>

        <div class="m-portlet">
            <div class="col-sm-12">
                <div class="clearfix d-flex operation">
                    <a class="btn btn-white btn-sm btn-info" href="/Employee/Create" title="Thêm mới"><i class="fa fa-plus"></i> Thêm mới</a>

                    <a class="btn btn-white btn-sm btn-check disabled btn-secondary" href="javascript:;" data-size="default" data-href="/JobSeeker/Delete?ids=&amp;type=1" data-link="/JobSeeker/Delete" data-value="type=1" data-modal="" title="Xóa">
                        <i class="fa fa-trash"></i> Xóa
                    </a>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="m-section">
                    <div class="m-section__content">
                        <table id="sample-table-1" class="table m-table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Họ và tên</th>
                                    <th>Mã nhân viên</th>
                                    <th>Giới tính</th>
                                    <th>Ngày sinh</th>
                                    <th>@ManagerResource.LB_ACTION</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (Model.SearchResult.HasData())
                                {
                                    var stt = 0;
                                    foreach (var item in Model.SearchResult)
                                    {
                                        stt++;
                                        <tr>
                                            <td>@stt</td>

                                            <td>
                                                @if (string.IsNullOrEmpty(item.Name) && string.IsNullOrEmpty(item.FamilyName))
                                                {
                                                    <span class="emptyValue">-----</span>
                                                }
                                                else
                                                {
                                                    @item.FamilyName <span>&nbsp;</span> @item.Name
                                                }
                                            </td>

                                            <td>
                                                @if (string.IsNullOrEmpty(item.Employee.EmployeeCode))
                                                {
                                                    <span class="emptyValue">-----</span>
                                                }
                                                else
                                                {
                                                    @item.Employee.EmployeeCode
                                                }
                                            </td>
                                            <td>
                                                @if (item.Gender == (int)EnumGender.Male)
                                                {
                                                    <span>Nam</span>
                                                }

                                                @if (item.Gender == (int)EnumGender.Female)
                                                {
                                                    <span>Nữ</span>
                                                }

                                                @if (item.Gender == (int)EnumGender.Unknown)
                                                {
                                                    <span class="emptyValue">-----</span>
                                                }
                                            </td>
                                            <td>
                                                @if (item.DateOfBirth.HasValue)
                                                {
                                                    @item.DateOfBirth.Value.ToString("dd/MM/yyyy")
                                                }
                                                else
                                                {
                                                    <span class="emptyValue">-----</span>
                                                }
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <a href="javascript:;" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown">
                                                        <i class="la la-ellipsis-h"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item btn m-btn m-btn--hover-info" href="@Url.Action("Edit", "Employee", new { employeeId = item.Employee.Id})" title="@ManagerResource.LB_EDIT">
                                                            <i class="la la-pencil"></i>
                                                            @ManagerResource.LB_EDIT
                                                        </a>
                                                        <a class="dropdown-item btn m-btn m-btn--hover-info" href="@Url.Action("Details", "Employee", new {employeeId = item.Employee.Id})" title="@ManagerResource.LB_DETAIL">
                                                            <i class="la la-pencil"></i>
                                                            @ManagerResource.LB_DETAIL
                                                        </a>
                                                        <a class="dropdown-item btn m-btn m-btn--hover-info" data-href="@Url.Action("Delete", "Employee", new {employeeId = item.Employee.Id})" data-modal="" title="@ManagerResource.LB_DELETE">
                                                            <i class="la la-pencil"></i>
                                                            @ManagerResource.LB_DELETE
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6" class="text-center">Không có bản ghi</td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @{
            RenderPaging();
        }
    </div>
</div>

<style>
    .pageHeading {
        margin-left: 15px;
    }

        .pageHeading p {
            font-style: italic;
        }

        .pageHeading h4 {
            text-transform: uppercase;
            color: #06586e;
        }

        .pageHeading p {
            font-style: italic;
        }

    .emptyValue {
        color: gray;
    }
</style>

@functions{
    private async Task RenderPaging()
    {
        <div class="m_datatable m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
            <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                @if (Model.WasOverRecordsInPage())
                {
                    var html = HtmlHelpers.BootstrapPager(Model.CurrentPage, index => Url.Action("Index", "Employee",
                         new
                         {
                             Page = index,
                             SearchExec = "Y"
                         }),
                        Model.TotalCount, pageSize: Model.PageSize, numberOfLinks: 10);

                    @html;
                }

                @if (Model.TotalCount > 0)
                {
                    <div class="m-datatable__pager-info">
                        <span class="m-datatable__pager-detail">
                            @ManagerResource.LB_RECORDS_ALL @Model.TotalCount @ManagerResource.LB_RECORDS @Model.StartCount() 〜 @Model.EndCount(Model.SearchResult.Count())
                        </span>
                    </div>
                }
            </div>
        </div>
    }
}