@using Manager.SharedLibs
@using Manager.WebApp.Resources
@using Manager.WebApp.Helpers.Business
@model Manager.WebApp.Models.Business.EmployeeContactUpdateModel

@{
    ViewData["Title"] = "Edit";
}



@*<div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                <i class="fa fa-pencil-square-o fz-20 pl5"></i> Sửa thông tin nhân viên: Nguyễn Văn A
                            </h3>
                        </div>
                    </div>
                </div>

                <form action="/JobSeeker/Create" class="m-form m-form--fit form-off-enter" enctype="multipart/form-data" id="frmProfile" method="post" role="form" novalidate="novalidate">
                    <input name="__RequestVerificationToken" type="hidden" value="8dTgL3l8sNw50gQqiphbzC14D77TwJPpJqQinhHCjb4aXvW4xlWzzCRSPm8WRphB23ov4r91rgLl4TLWuLTHFoxoxQKeuiKF7ylg-q5fJEPWNQHrCxCa7PC5ZlVrXyEaRLaIDQ2"><input data-val="true" data-val-number="The field job_seeker_id must be a number." data-val-required="The job_seeker_id field is required." id="job_seeker_id" name="job_seeker_id" type="hidden" value="93">        <input type="hidden" value="/JobSeeker/MyProfilePartial?id=93&amp;exclude_ct_add=0&amp;tk=qtqP39jOohjcFguQHatZuE_gAmOpmcX1UrhhI7cBhT_QH3VjcCVgpZhMX5kE2K4R" id="ProfileTk">
                    <input type="hidden" value="/JobSeeker/EduHistories?id=93&amp;tk=4oyEV0faSpTgP8ndR-khJ_yWjHaeOQvaYTInrZmCTN8" id="EduHistoryTk">
                    <input type="hidden" value="/JobSeeker/WorkHistories?id=93&amp;tk=MsXYQFFYLh1-CggYGphkn3Gz33invfoWplFbY_NqW_k" id="WorkHistoryTk">
                    <input type="hidden" value="/JobSeeker/Certificates?id=93&amp;tk=C0Cf4xYP0bjUjOqhT-WGOovR5Z67-rRBWT7LiGyhuqA" id="CertificateTk">
                    <input data-val="true" data-val-number="The field next_step must be a number." data-val-required="The next_step field is required." id="next_step" name="next_step" type="hidden" value="0"><input data-val="true" data-val-number="The field hide_pf must be a number." data-val-required="The hide_pf field is required." id="hide_pf" name="hide_pf" type="hidden" value="0">        <div class="m-portlet__body">


                        <div class="m-accordion m-accordion--default m-accordion--toggle-arrow" id="m_profile" role="tablist">

                            <div class="m-accordion__item m-accordion__item--info">
                                <div class="m-accordion__item-head collapsed" role="tab" id="m_profile_head" data-toggle="collapse" href="#m_profile_body" aria-expanded="false">
                                    <span class="m-accordion__item-icon">
                                        <i class="la la-user"></i>
                                    </span>
                                    <span class="m-accordion__item-title">
                                        Hồ sơ
                                    </span>
                                    <span class="m-accordion__item-mode"></span>
                                </div>
                                <div class="m-accordion__item-body collapse" id="m_profile_body" role="tabpanel" aria-labelledby="m_profile_head" data-parent="#m_profile" style="">
                                    <div class="m-accordion__item-content">
                                        <div id="MemberSubContainer">
                                            <div>
                                                <input type="hidden" id="address_country_id" value="0">
                                                <input type="hidden" id="address_region_id" value="0">
                                                <input type="hidden" id="address_prefecture_id" value="0">
                                                <input type="hidden" id="address_city_id" value="0">
                                                <input type="hidden" id="address_train_line_id" value="0">
                                                <input type="hidden" id="address_station_id" value="0">

                                                <input type="hidden" id="address_contact_country_id" value="0">
                                                <input type="hidden" id="address_contact_region_id" value="0">
                                                <input type="hidden" id="address_contact_prefecture_id" value="0">
                                                <input type="hidden" id="address_contact_city_id" value="0">

                                                <div class="form-group m-form__group row group-item">
                                                    <div class="col-md-12 required-input">
                                                        * Thông tin phải nhập
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row group-item">
                                                    <div class="col-lg-3">
                                                        <label>
                                                            Hình ảnh
                                                        </label>

                                                        <div class="upload-portfolio mb10">
                                                            <div class="uploadbox" id="uploadbox">
                                                                <img class="file-upload-btn thumbImg img-full-center pointer hidden" src="">
                                                                <label for="file-upload" class="custom-file-upload file-upload-icon ">
                                                                    <i class="la la-cloud-upload"></i> <span>Tải ảnh</span>
                                                                </label>
                                                                <input id="image" name="image" type="hidden" value="">
                                                                <input id="file-upload" class="file-upload-storage hidden" name="image_file_upload" type="file" data-preview="uploadbox">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-9">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <label class="form-control-label">
                                                                    Họ và tên <span class="required-input">*</span>
                                                                </label>
                                                                <input class="form-control m-input mb5 input-validation-error" data-val="true" data-val-maxlength="Họ và tên không được quá 30 ký tự" data-val-maxlength-max="30" data-val-required="Nhập tên ứng viên" id="fullname" name="Name" placeholder="Nguyen Van A" type="text" value="">

                                                            </div>

                                                            <div class="col-lg-12 mt10">
                                                                <div class="row">
                                                                    <div class="col-lg-9">
                                                                        <label class="form-control-label">
                                                                            Tên phiên âm
                                                                        </label>
                                                                        <input class="form-control m-input" id="fullname_furigana" name="NameFurigana" placeholder="グエン　バン　エイ" type="text" value="">
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <label class="form-control-label">
                                                                            Giới tính
                                                                        </label>
                                                                        <div class="m-radio-inline">
                                                                            <label class="m-radio">
                                                                                <input type="radio" name="Gender" value="1" id="1_gender">
                                                                                Nam
                                                                                <span></span>
                                                                            </label>
                                                                            <label class="m-radio">
                                                                                <input type="radio" checked="" name="Gender" value="0" id="0_gender">
                                                                                Nữ
                                                                                <span></span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group m-form__group row">
                                                    <div class="col-lg-3">
                                                        <label>
                                                            Ngày sinh <span class="required-input">*</span>
                                                        </label>
                                                        <input class="form-control datepicker valid" data-val="true" data-val-required="Không được để trống" id="birthday" name="DateOfBirth" placeholder="yyyy/mm/dd" type="date">
                                                        <span class="text-danger field-validation-valid" data-valmsg-for="birthday" data-valmsg-replace="true"></span>

                                                    </div>

                                                    <div class="col-lg-3">
                                                        <label>
                                                            Điện thoại
                                                        </label>
                                                        <input class="form-control m-input valid" data-val="true" data-val-maxlength="Điện thoại không được quá 20 ký tự" data-val-maxlength-max="20" id="phone" name="Phone" type="text" value="">
                                                        <span class="text-danger field-validation-valid" data-valmsg-for="phone" data-valmsg-replace="true"></span>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>
                                                            Email
                                                        </label>
                                                        <input class="form-control m-input valid" data-val="true" data-val-maxlength="Email không được quá 30 ký tự" data-val-maxlength-max="30" id="email" name="Email" placeholder="xxxx@yourmail.com" type="text" value="">
                                                        <span class="text-danger field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>
                                                            Tình trạng hôn nhân
                                                        </label>
                                                        <div class="m-radio-inline">
                                                            <label class="m-radio">
                                                                <input type="radio" name="MaritalStatus" value="1" id="1_marriage">
                                                                Đã kết hôn
                                                                <span></span>
                                                            </label>
                                                            <label class="m-radio">
                                                                <input type="radio" checked="" name="MaritalStatus" value="0" id="0_marriage">
                                                                Độc thân
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group m-form__group row">
                                                    <div class="col-lg-3">
                                                        <label>
                                                            Học vấn
                                                        </label>
                                                        <div class="dropdown bootstrap-select form-control">
                                                            <select class="form-control selectpicker" name="QualificationId" data-live-search="true" tabindex="-98">
                                                                <option value="1">Trung học phổ thông</option>
                                                                <option value="2">Trung cấp</option>
                                                                <option value="3">Cao đẳng</option>
                                                                <option value="4">Đại học</option>
                                                                <option value="5">Cao học</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>
                                                            Chức vụ
                                                        </label>
                                                        <input class="form-control m-input" name="Employee.Position" type="text">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label class="pf-title">Ngày vào công ty</label>
                                                        <input class="datepicker form-control" id="duration_visa" name="Employee.JoinDate" placeholder="yyyy/mm/dd" type="date" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row group-item">
                                                    <div class="col-lg-3">
                                                        <label class="pf-title">Quốc tịch</label>
                                                        <div class="dropdown bootstrap-select form-control">
                                                            <select data-live-search="true" class="selectpicker form-control" name="NationalityId" id="nationality_id" tabindex="-98">
                                                                <option value="0">Chọn quốc tịch</option>
                                                                <option value="81">Nhật Bản</option>
                                                                <option value="84">Việt Nam</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label class="pf-title">Visa</label>
                                                        <div class="dropdown bootstrap-select form-control">
                                                            <select data-live-search="true" class="selectpicker form-control" name="Employee.VisaId" data-size="7" tabindex="-98">
                                                                <option value="0">Chọn visa</option>
                                                                <option value="1">Tokutei</option>
                                                                <option value="2">Tu nghiệp sinh</option>
                                                                <option value="3">Du học sinh</option>
                                                                <option value="4">Lao động</option>
                                                                <option value="5">Kết hôn với người Nhật</option>
                                                                <option value="6">Vĩnh trú</option>
                                                                <option value="7">Kết hôn với người vĩnh trú</option>
                                                                <option value="8">Định trú</option>
                                                                <option value="9">Xin việc sau tốt nghiệp</option>
                                                                <option value="10">Lưu trú ngắn hạn</option>
                                                                <option value="11">Thực tập</option>
                                                                <option value="12">Đoàn tụ gia đình</option>
                                                                <option value="13">Chuyên gia</option>
                                                                <option value="14">Kinh doanh</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label class="pf-title">Thời hạn visa</label>
                                                        <input class="datepicker form-control" id="duration_visa" name="Employee.VisaExpiryDate" placeholder="yyyy/mm/dd" type="date" value="">
                                                    </div>

                                                </div>
                                                <div class="form-group m-form__group row">
                                                    <div class="col-lg-3">
                                                        <label>
                                                            Số tài khoản ngân hàng
                                                        </label>
                                                        <input class="form-control m-input" name="BankAccountNumber" type="text">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label class="form-control-label">
                                                            Tên Ngân hàng
                                                        </label>
                                                        <div class="dropdown bootstrap-select form-control">
                                                            <select placeholder="Chọn ngân hàng" data-live-search="true" class="form-control selectpicker" name="BankId" tabindex="-98">
                                                                <option value="0">Chọn ngân hàng</option>
                                                                <option value="1">ShinhanBank</option>
                                                                <option value="2">VietcomBank</option>
                                                                <option value="3">ViettinBank</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="customFieldsList mt10 group-item">

                                                </div>
                                                <hr>

                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="m-accordion m-accordion--default m-accordion--toggle-arrow" id="m_edu_history" role="tablist">

                            <div class="m-accordion__item m-accordion__item--info">
                                <div class="m-accordion__item-head collapsed" role="tab" id="m_edu_history_head" data-toggle="collapse" href="#m_edu_history_body" aria-expanded="false">
                                    <span class="m-accordion__item-icon">
                                        <i class="la la-graduation-cap"></i>
                                    </span>
                                    <span class="m-accordion__item-title">
                                        Lịch sử học tập
                                    </span>
                                    <span class="m-accordion__item-mode"></span>
                                </div>

                                <div class="m-accordion__item-body collapse" id="m_edu_history_body" role="tabpanel" aria-labelledby="m_edu_history_head" data-parent="#m_edu_history" style="">
                                    <div class="m-accordion__item-content">
                                        <div class="row">
                                            <div class="col-lg-12 text-center">
                                                <a class="btn btn-sm btn-info" href="javascript:;" data-href="/JobSeeker/UpdateEduHistory?job_seeker_id=93" data-modal="" title=""><i class="la la-plus-circle"></i> Thêm lịch sử học tập</a>
                                            </div>
                                        </div>
                                        <div class="" id="EduHistories">

                                            <div class="form-group m-form__group row mt10">
                                                <div class="col-md-12 table-responsive">
                                                    <table class="table table-bordered table-responsive-lg">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center" width="50"></th>
                                                                <th class="text-center">Học vấn</th>
                                                                <th class="text-center">Tên trường</th>
                                                                <th class="text-center">Chuyên ngành</th>
                                                                <th class="text-center">Nhập học</th>
                                                                <th class="text-center">Đến ngày</th>
                                                                <th class="text-center">Tình trạng</th>
                                                                <th class="text-center"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="20">
                                                                    <span class="text-danger"><i class="fa fa-warning"></i> Chưa cập nhật</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="m-accordion m-accordion--default m-accordion--toggle-arrow" id="m_certificate" role="tablist">

                            <div class="m-accordion__item m-accordion__item--info">
                                <div class="m-accordion__item-head collapsed" role="tab" id="m_certificate_head" data-toggle="collapse" href="#m_certificate_body" aria-expanded="false">
                                    <span class="m-accordion__item-icon">
                                        <i class="la la-certificate"></i>
                                    </span>
                                    <span class="m-accordion__item-title">
                                        Chứng chỉ, bằng cấp
                                    </span>
                                    <span class="m-accordion__item-mode"></span>
                                </div>

                                <div class="m-accordion__item-body collapse show" id="m_certificate_body" role="tabpanel" aria-labelledby="m_certificate_head" data-parent="#m_certificate">
                                    <div class="m-accordion__item-content">
                                        <div class="row">
                                            <div class="col-lg-12 text-center">
                                                <a class="btn btn-sm btn-info" href="javascript:;" data-href="/JobSeeker/UpdateCertificate?job_seeker_id=93" data-modal="" title=""><i class="la la-plus-circle"></i> Thêm chứng chỉ, bằng cấp</a>
                                            </div>
                                        </div>
                                        <div class="" id="Certificates">

                                            <div class="form-group m-form__group row mt10">
                                                <div class="col-md-12 table-responsive">
                                                    <table class="table table-bordered table-responsive-lg">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center" width="50"></th>
                                                                <th class="text-center">Tên chứng chỉ, bằng cấp</th>
                                                                <th class="text-center">Ngày cấp</th>
                                                                <th class="text-center">Tình trạng</th>
                                                                <th class="text-center">Điểm</th>
                                                                <th class="text-center"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="20">
                                                                    <span class="text-danger"><i class="fa fa-warning"></i> Chưa cập nhật</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="row" id="">
                            <div class="col-lg-12 col-md-12 col-sm-12" style="height:80px">
                                <a class="btn btn-outline-info btn-back btn-sm" href="/JobSeeker?type_job_seeker=1"><i class="fa fa-backward"></i> Quay lại</a>


                                <button type="submit" class="btn btn-outline-info pull-right btn-sm">
                                    <i class="fa fa-floppy-o"></i> Lưu
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>*@

<div class="row">
    <div class="col-lg-12">
        <div ref="component">
            <div novalidate="" ref="webform" class="formio-form">
                <div ref="component" class="row" id="eknym6o">
                    <div ref="column-eknym6o" class="col-md-2 leftContent-container">
                        <div class="leftContent">
                            <div class="m-portlet form-component-container">
                                <div ref="component" class="form-group has-feedback formio-component formio-component-file formio-component-file formio-component-label-hidden" id="ex50dms">
                                    <div></div>

                                    <div ref="fileDrop" class="fileSelector">
                                        <div class="avatarFrame">
                                            <img src="~/Media/Avatars/150/9865275b6a677d07e8fcc1cb2d11cee4.jpg" />
                                        </div>

                                        <div class="loader-wrapper" ref="fileProcessingLoader">
                                            <div class="loader text-center"></div>
                                        </div>
                                    </div>

                                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                </div>
                                <div ref="component" class="form-group has-feedback formio-component formio-component-textfield formio-component-EmployeeCodepo" id="eu7cok">
                                    <label class="col-form-label leftContent-label" ref="label">
                                        Mã nhân viên
                                    </label>

                                    <div ref="element">
                                        @if (!string.IsNullOrEmpty(Model.Employee.EmployeeCode))
                                        {
                                            <div class="leftContent-value">@Model.Employee.EmployeeCode</div>
                                        }
                                        else
                                        {
                                            <div class="leftContent-value">-----</div>
                                        }

                                    </div>

                                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                </div>
                                <div ref="component" class="form-group has-feedback formio-component formio-component-textfield formio-component-FullName" id="epq7e7">
                                    <label class="col-form-label leftContent-label" ref="label">
                                        Họ và tên
                                    </label>

                                    <div ref="element">
                                        @if (!string.IsNullOrEmpty(Model.Name) && !string.IsNullOrEmpty(Model.FamilyName))
                                        {
                                            <div class="leftContent-value">@Model.FamilyName  @Model.Name</div>
                                        }
                                        else
                                        {
                                            <div class="leftContent-value">-----</div>
                                        }
                                    </div>

                                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                </div>
                                <div ref="component" class="form-group has-feedback formio-component formio-component-textfield formio-component-FullNameYomigana" id="el7wqu9">
                                    <label class="col-form-label leftContent-label" ref="label">
                                        Họ và tên (phiên âm)
                                    </label>

                                    <div ref="element">
                                        @if (!string.IsNullOrEmpty(Model.FamilyNameYomigana) && !string.IsNullOrEmpty(Model.NameYomigana))
                                        {
                                            <div class="leftContent-value">@Model.FamilyNameYomigana &nbsp; @Model.NameYomigana</div>
                                        }

                                    </div>

                                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ref="column-eknym6o" class="col-md-9 rightContent-container">
                        <div class="rightContent-container">
                            <div ref="component" class="formio-component formio-component-panel formio-component-BasicInfo infoPanel" id="et1icmt">
                                <div class="mb-2 card border">
                                    <div ref="header" aria-controls="et1icmt-BasicInfo" aria-expanded="true" role="button" class="card-header bg-default  infoPanel-title-editForm">
                                        <span class="mb-0 card-title">
                                            THÔNG TIN CƠ BẢN
                                        </span>
                                    </div>

                                    <div id="et1icmt-BasicInfo" ref="nested-BasicInfo" class="card-body">
                                        <div ref="component" class="row formio-component formio-component-columns formio-component-columns1 formio-component-label-hidden" id="eseytw">
                                            <div ref="column-eseytw" class="col-md-6 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                <div ref="component" class="form-group has-feedback formio-component formio-component-textfield formio-component-FamilyName" id="ep27kj8">
                                                    <label id="l-ep27kj8-FamilyName" for="ep27kj8-FamilyName" class="col-form-label" ref="label">
                                                        Họ
                                                    </label>

                                                    <div ref="element">
                                                        <input aria-required="false"
                                                               aria-labelledby="l-ep27kj8-FamilyName"
                                                               id="ep27kj8-FamilyName"
                                                               value="@Model.FamilyName"
                                                               spellcheck="true"
                                                               lang="en"
                                                               class="form-control"
                                                               type="text"
                                                               name="FamilyName"
                                                               ref="input"
                                                               aria-invalid="false" />
                                                    </div>

                                                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                                </div>
                                            </div>

                                            <div ref="column-eseytw" class="col-md-6 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                <div ref="component" class="form-group has-feedback formio-component formio-component-textfield formio-component-Name" id="e9e4rs">
                                                    <label id="l-e9e4rs-Name" for="e9e4rs-Name" class="col-form-label" ref="label">
                                                        Tên
                                                    </label>

                                                    <div ref="element">
                                                        <input aria-required="false" aria-labelledby="l-e9e4rs-Name" id="e9e4rs-Name" value="@Model.Name" spellcheck="true" lang="en" class="form-control" type="text" name="Name" ref="input" aria-invalid="false" />
                                                    </div>

                                                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                                </div>
                                            </div>

                                            <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                        </div>
                                        <div ref="component" class="row formio-component formio-component-columns formio-component-columns2 formio-component-label-hidden" id="estc7q">
                                            <div ref="column-estc7q" class="col-md-6 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                <div ref="component" class="form-group has-feedback formio-component formio-component-textfield formio-component-FamilyNameYomigana" id="eiw1gj">
                                                    <label id="l-eiw1gj-FamilyNameYomigana" for="eiw1gj-FamilyNameYomigana" class="col-form-label" ref="label">
                                                        Họ (phiên âm)
                                                    </label>

                                                    <div ref="element">
                                                        <input aria-required="false"
                                                               aria-labelledby="l-eiw1gj-FamilyNameYomigana"
                                                               id="eiw1gj-FamilyNameYomigana"
                                                               value="@Model.FamilyNameYomigana"
                                                               spellcheck="true"
                                                               lang="en"
                                                               class="form-control"
                                                               type="text"
                                                               name="FamilyNameYomigana"
                                                               ref="input"
                                                               aria-invalid="false" />
                                                    </div>

                                                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                                </div>
                                            </div>

                                            <div ref="column-estc7q" class="col-md-6 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                <div ref="component" class="form-group has-feedback formio-component formio-component-textfield formio-component-NameYomigana" id="e7cnlyo">
                                                    <label id="l-e7cnlyo-NameYomigana" for="e7cnlyo-NameYomigana" class="col-form-label" ref="label">
                                                        Tên (phiên âm)
                                                    </label>

                                                    <div ref="element">
                                                        <input aria-required="false"
                                                               aria-labelledby="l-e7cnlyo-NameYomigana"
                                                               id="e7cnlyo-NameYomigana"
                                                               value="@Model.NameYomigana"
                                                               spellcheck="true"
                                                               lang="en"
                                                               class="form-control"
                                                               type="text"
                                                               name="NameYomigana"
                                                               ref="input"
                                                               aria-invalid="false" />
                                                    </div>

                                                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                                </div>
                                            </div>

                                            <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                        </div>
                                        <div ref="component" class="row formio-component formio-component-columns formio-component-columns3 formio-component-label-hidden" id="ewvhent">
                                            <div ref="column-ewvhent" class="col-md-6 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                <div ref="component" class="form-group has-feedback formio-component formio-component-textfield formio-component-DateOfBirth" id="ejgh8tu">
                                                    <label id="l-ejgh8tu-DateOfBirth" for="ejgh8tu-DateOfBirth" class="col-form-label" ref="label">
                                                        Ngày tháng năm sinh
                                                    </label>

                                                    <div ref="element">
                                                        @if (Model.DateOfBirth.HasValue)
                                                        {
                                                            <input value="@Model.DateOfBirth.Value.ToString("yyyy-MM-dd")"
                                                                   class="form-control"
                                                                   type="date"
                                                                   name="DateOfBirth"
                                                                   ref="input"
                                                                   aria-invalid="false" />
                                                        }
                                                        else
                                                        {
                                                            <input class="form-control"
                                                                   type="date"
                                                                   name="DateOfBirth"
                                                                   ref="input"
                                                                   aria-invalid="false" />
                                                        }
                                                    </div>

                                                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                                </div>
                                            </div>

                                            <div ref="column-ewvhent" class="col-md-6 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                <div ref="component" class="form-group has-feedback formio-component formio-component-textfield formio-component-email" id="eja8hz">
                                                    <label id="l-eja8hz-email" for="eja8hz-email" class="col-form-label" ref="label">
                                                        Email
                                                    </label>

                                                    <div ref="element">
                                                        @if (!string.IsNullOrEmpty(Model.Email))
                                                        {
                                                            <input value="@Model.Email"
                                                                   class="form-control"
                                                                   type="text"
                                                                   name="Email" />
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ref="component" class="form-group has-feedback formio-component formio-component-radio formio-component-Gender" id="e05obbp">
                                            <label id="l-e05obbp-Gender" for="e05obbp-Gender" class="col-form-label" ref="label">
                                                Giới tính
                                            </label>

                                            <div aria-labelledby="l-e05obbp-Gender" aria-required="false" role="radiogroup" ref="radioGroup" class="form-radio radio">
                                                <div ref="wrapper" class="radio form-check-inline">
                                                    <label for="e5v8dm-e05obbp--0" class="form-check-label label-position-right">

                                                        @if (Model.Gender == (int)EnumGender.Male)
                                                        {
                                                            <input role="radio" value="0" lang="en" class="form-check-input" type="radio" name="Gender" ref="input" checked />
                                                        }
                                                        else
                                                        {
                                                            <input role="radio" value="0" lang="en" class="form-check-input" type="radio" name="Gender" ref="input" />
                                                        }
                                                        <span>Nam</span>
                                                    </label>
                                                </div>

                                                <div ref="wrapper" class="radio form-check-inline">
                                                    <label for="e5v8dm-e05obbp--1" class="form-check-label label-position-right">
                                                        @if (Model.Gender == (int)EnumGender.Female)
                                                        {
                                                            <input role="radio" value="1" lang="en" class="form-check-input" type="radio" name="Gender" ref="input" checked />
                                                        }
                                                        else
                                                        {
                                                            <input role="radio" value="1" lang="en" class="form-check-input" type="radio" name="Gender" ref="input" />
                                                        }

                                                        <span>Nữ</span>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                        </div>
                                        <div ref="component" class="form-group has-feedback formio-component formio-component-file formio-component-AvatarUrl" id="ejt987g">
                                            <label id="l-ejt987g-AvatarUrl" for="ejt987g-AvatarUrl" class="col-form-label" ref="label">
                                                Ảnh đại diện
                                            </label>

                                            <div></div>

                                            <div ref="fileDrop" class="fileSelector">
                                                <i class="fa fa-cloud-upload"></i> Drop files to attach, or
                                                <a class="browse" ref="fileBrowse" href="#">
                                                    browse
                                                    <span class="sr-only">
                                                        Browse to attach file for Ảnh đại diện. Any file types are allowed
                                                    </span>
                                                </a>
                                                <div class="loader-wrapper" ref="fileProcessingLoader">
                                                    <div class="loader text-center"></div>
                                                </div>
                                            </div>

                                            <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                            </div>
                            <div ref="component" class="formio-component formio-component-panel formio-component-JoinOrLeave infoPanel" id="ev81qlh">
                                <div class="mb-2 card border">
                                    <div ref="header" aria-controls="ev81qlh-JoinOrLeave" aria-expanded="true" role="button" class="card-header bg-default">
                                        <span class="mb-0 card-title">
                                            GIA NHẬP/RỜI CÔNG TY
                                        </span>
                                    </div>

                                    <div id="ev81qlh-JoinOrLeave" ref="nested-JoinOrLeave" class="card-body">
                                        <div ref="component" class="row formio-component formio-component-columns formio-component-columns4 formio-component-label-hidden" id="e7j4hph">
                                            <div ref="column-e7j4hph" class="col-md-4 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                <div ref="component" class="form-group has-feedback formio-component formio-component-textfield formio-component-Status" id="e66gmu8">
                                                    <label id="l-e66gmu8-Status" for="e66gmu8-Status" class="col-form-label" ref="label">
                                                        Trạng thái
                                                    </label>

                                                    <div ref="element">
                                                        <select class="form-control" name="Employee.Status">
                                                            <option value="1">Đang tại chức</option>
                                                            <option value="2">Nghỉ hưu</option>
                                                            <option value="3">Nghỉ việc</option>
                                                        </select>
                                                    </div>

                                                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                                </div>
                                            </div>

                                            <div ref="column-e7j4hph" class="col-md-4 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                <div ref="component" class="form-group has-feedback formio-component formio-component-textfield formio-component-JoinDate" id="ecigmqh">
                                                    <label id="l-ecigmqh-JoinDate" for="ecigmqh-JoinDate" class="col-form-label" ref="label">
                                                        Ngày vào công ty
                                                    </label>

                                                    <div ref="element">
                                                        @if (Model.Employee.JoinDate.HasValue)
                                                        {
                                                            <input value="@Model.Employee.JoinDate.Value.ToString("yyyy-MM-dd")"
                                                                   class="form-control"
                                                                   type="date"
                                                                   name="JoinDate"
                                                                   ref="input"
                                                                   aria-invalid="false" />
                                                        }
                                                        else
                                                        {
                                                            <input class="form-control"
                                                                   type="date"
                                                                   name="JoinDate"
                                                                   ref="input"
                                                                   aria-invalid="false" />
                                                        }
                                                    </div>

                                                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                                </div>
                                            </div>

                                            <div ref="column-e7j4hph" class="col-md-4 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                <div ref="component" class="form-group has-feedback formio-component formio-component-textfield formio-component-LeaveDate" id="eh622uv">
                                                    <label id="l-eh622uv-LeaveDate" for="eh622uv-LeaveDate" class="col-form-label" ref="label">
                                                        Ngày rời công ty
                                                    </label>
                                                    <div ref="element">
                                                        @if (Model.Employee.LeaveDate.HasValue)
                                                        {
                                                            <input value="@Model.Employee.LeaveDate.Value.ToString("yyyy/MM/dd")"
                                                                   class="form-control"
                                                                   type="date"
                                                                   name="LeaveDate"
                                                                   ref="input"
                                                                   aria-invalid="false" />
                                                        }
                                                        else
                                                        {
                                                            <input value=""
                                                                   class="form-control"
                                                                   type="date"
                                                                   name="LeaveDate"
                                                                   ref="input"
                                                                   aria-invalid="false" />
                                                        }
                                                    </div>


                                                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                                </div>
                                            </div>

                                            <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                            </div>
                            <div ref="component" class="formio-component formio-component-panel formio-component-JobInfo infoPanel" id="et5k67j">
                                <div class="mb-2 card border">
                                    <div ref="header" aria-controls="et5k67j-JobInfo" aria-expanded="true" role="button" class="card-header bg-default">
                                        <span class="mb-0 card-title">
                                            THÔNG TIN CÔNG VIỆC
                                        </span>
                                    </div>

                                    <div id="et5k67j-JobInfo" ref="nested-JobInfo" class="card-body">
                                        <div ref="component" class="row formio-component formio-component-columns formio-component-columns5 formio-component-label-hidden" id="et1mhy">
                                            <div ref="column-et1mhy" class="col-md-4 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                <div ref="component" class="form-group has-feedback formio-component formio-component-textfield formio-component-EmployeeCode" id="esy0jeo">
                                                    <label id="l-esy0jeo-EmployeeCode" for="esy0jeo-EmployeeCode" class="col-form-label" ref="label">
                                                        Mã nhân viên
                                                    </label>

                                                    <div ref="element">
                                                        @if (!string.IsNullOrEmpty(Model.Employee.EmployeeCode))
                                                        {
                                                            <input value="@Model.Employee.EmployeeCode"
                                                                   spellcheck="true"
                                                                   lang="en"
                                                                   class="form-control"
                                                                   type="text"
                                                                   name="EmployeeCode"
                                                                   ref="input"
                                                                   aria-invalid="false" />
                                                        }
                                                        else
                                                        {
                                                            <input class="form-control"
                                                                   type="text"
                                                                   name="EmployeeCode"
                                                                   ref="input"
                                                                   aria-invalid="false" />
                                                        }
                                                    </div>

                                                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                                </div>
                                            </div>

                                            <div ref="column-et1mhy" class="col-md-4 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                <div ref="component" class="form-group has-feedback formio-component formio-component-textfield formio-component-EmploymentType" id="ew516wi">
                                                    <label id="l-ew516wi-EmploymentType" for="ew516wi-EmploymentType" class="col-form-label" ref="label">
                                                        Loại hình nhân viên
                                                    </label>

                                                    <div ref="element">
                                                        <select class="form-control" name="Employee.EmploymentType">
                                                            <option value="1">Ban lãnh đạo</option>
                                                            <option value="2">Nhân viên chính thức</option>
                                                            <option value="3">Nhân viên hợp đồng</option>
                                                            <option value="4">Nhân viên bán thời gian</option>
                                                            <option value="5">Loại khác</option>
                                                        </select>
                                                    </div>

                                                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                                </div>
                                            </div>

                                            <div ref="column-et1mhy" class="col-md-4 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                <div ref="component" class="form-group has-feedback formio-component formio-component-textfield formio-component-Department" id="e4r36xc">
                                                    <label id="l-e4r36xc-Department" for="e4r36xc-Department" class="col-form-label" ref="label">
                                                        Phòng ban
                                                    </label>

                                                    <div ref="element">
                                                        @if (!string.IsNullOrEmpty(Model.Employee.Department))
                                                        {
                                                            <input value="@Model.Employee.Department"
                                                                   spellcheck="true"
                                                                   lang="en"
                                                                   class="form-control"
                                                                   type="text"
                                                                   name="Employee.Department"
                                                                   ref="input"
                                                                   aria-invalid="false" />
                                                        }
                                                        else
                                                        {
                                                            <input class="form-control"
                                                                   type="text"
                                                                   name="Employee.Department"
                                                                   ref="input"
                                                                   aria-invalid="false" />
                                                        }

                                                    </div>

                                                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                                </div>
                                            </div>

                                            <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                            </div>
                            <div ref="component" class="formio-component formio-component-panel formio-component-VisaInfo infoPanel" id="e20e7naj">
                                <div class="mb-2 card border">
                                    <div ref="header" aria-controls="e20e7naj-VisaInfo" aria-expanded="true" role="button" class="card-header bg-default">
                                        <span class="mb-0 card-title">
                                            THÔNG TIN VISA
                                        </span>
                                    </div>

                                    <div id="e20e7naj-VisaInfo" ref="nested-VisaInfo" class="card-body">
                                        <div ref="component" class="row formio-component formio-component-columns formio-component-columns6 formio-component-label-hidden" id="ehsrsb">
                                            <div ref="column-ehsrsb" class="col-md-4 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                <div ref="component" class="form-group has-feedback formio-component formio-component-textfield formio-component-NationalityId" id="ejxiorm">
                                                    <label id="l-ejxiorm-NationalityId" for="ejxiorm-NationalityId" class="col-form-label" ref="label">
                                                        Quốc tịch
                                                    </label>

                                                    <div ref="element">
                                                        <div class="dropdown bootstrap-select form-control">
                                                            <select data-live-search="true" class="selectpicker form-control" name="NationalityId" tabindex="-98">
                                                                <option value="0">Chọn quốc tịch</option>
                                                                <option value="81">Nhật Bản</option>
                                                                <option value="84" selected>Việt Nam</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                                </div>
                                            </div>

                                            <div ref="column-ehsrsb" class="col-md-4 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                <div ref="component" class="form-group has-feedback formio-component formio-component-textfield formio-component-VisaType" id="ethhj39">
                                                    <label id="l-ethhj39-VisaType" for="ethhj39-VisaType" class="col-form-label" ref="label">
                                                        Loại hình visa
                                                    </label>

                                                    <div ref="element">
                                                        <div class="dropdown bootstrap-select form-control">
                                                            <select data-live-search="true" class="selectpicker form-control" name="VisaType" data-size="7" tabindex="-98">
                                                                <option value="2">Tu nghiệp sinh</option>
                                                                <option value="0">Chọn visa</option>
                                                                <option value="1">Tokutei</option>

                                                                <option value="3">Du học sinh</option>
                                                                <option value="4">Lao động</option>
                                                                <option value="5">Kết hôn với người Nhật</option>
                                                                <option value="6">Vĩnh trú</option>
                                                                <option value="7">Kết hôn với người vĩnh trú</option>
                                                                <option value="8">Định trú</option>
                                                                <option value="9">Xin việc sau tốt nghiệp</option>
                                                                <option value="10">Lưu trú ngắn hạn</option>
                                                                <option value="11">Thực tập</option>
                                                                <option value="12">Đoàn tụ gia đình</option>
                                                                <option value="13">Chuyên gia</option>
                                                                <option value="14">Kinh doanh</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                                </div>
                                            </div>

                                            <div ref="column-ehsrsb" class="col-md-4 col-md-offset-0 col-md-push-0 col-md-pull-0">
                                                <div ref="component" class="form-group has-feedback formio-component formio-component-textfield formio-component-VisaExpiryDate" id="enwibtb">
                                                    <label id="l-enwibtb-VisaExpiryDate" for="enwibtb-VisaExpiryDate" class="col-form-label" ref="label">
                                                        Ngày hết hạn visa
                                                    </label>

                                                    <div ref="element">
                                                        @if (Model.VisaExpiryDate.HasValue)
                                                        {
                                                            <input value="@Model.VisaExpiryDate.Value.ToString("yyyy/MM/dd")"
                                                                   spellcheck="true"
                                                                   lang="en"
                                                                   class="form-control"
                                                                   type="text"
                                                                   name="VisaExpiryDate"
                                                                   ref="input"
                                                                   aria-invalid="false" />
                                                        }
                                                        else
                                                        {
                                                            <input aria-required="false"
                                                                   aria-labelledby="l-enwibtb-VisaExpiryDate"
                                                                   id="enwibtb-VisaExpiryDate"
                                                                   value=""
                                                                   spellcheck="true"
                                                                   lang="en"
                                                                   class="form-control"
                                                                   type="text"
                                                                   name="VisaExpiryDate"
                                                                   ref="input"
                                                                   aria-invalid="false" />
                                                        }
                                                    </div>

                                                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                                </div>
                                            </div>

                                            <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                            </div>
                        </div>
                        <div class="m-portlet__foot">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button id="btnSave" type="submit" class="btn btn-info btn-sm">
                                        <i class="fa fa-download"></i> @ManagerResource.LB_SAVE
                                    </button>
                                    <a class="btn btn-outline-info btn-back btn-sm" href="@Url.Action("Index", "Employee")"><i class="fa fa-backward"></i> @ManagerResource.LB_GOBACK</a>
                                </div>
                                <div class="col-lg-6 m--align-right">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
                </div>
            </div>

            <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
        </div>

    </div>
</div>
<style>
    .form-component-container {
        padding: 20px;
    }

    .infoPanel {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        margin-bottom: 30px;
    }

    .avatarFrame {
        width: 80%;
        height: auto;
        border: 0.5px solid lightgray;
    }

        .avatarFrame img {
            width: 100%;
        }

    .fileSelector {
        display: flex;
        justify-content: center;
    }

    .leftContent-container {
        margin-left: 20px;
        max-width: 250px;
    }

    .leftContent {
        width: 250px;
        @*min-width: 125px;*@
        position: fixed;
    }

    .rightContent-container {
        left: 70px;
    }

    .leftContent-label {
        font-size: 12px;
    }

    .leftContent-value {
        padding: 5px;
        border-bottom: 0.5px lightgray solid;
    }

    @@media screen and (max-width: 700px) {
        .leftContent {
            position: relative;
            width: 100%;
        }

        .leftContent-container {
            width: 100%;
            margin-left: 0;
        }

        .rightContent-container {
            left: 0;
            width: 100%;
        }
    }
</style>